
.ls-layer,
.ls-layer * {
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', Helvetica, Arial, Serif;
	font-weight: normal;
}

.ls-layer p {
	padding: 0px 10px;				
	line-height: 40px;
	box-shadow: 0px 4px 10px -5px black;
	text-shadow: none;
	font-size: 22px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.l1-s1 {
	height: 80px;
	color: black;
	background: white;
	opacity: .9;
	width: 650px;
	text-align: center;
}

.l2-s1 {
	height: 40px;
	color: white;
	background: black;
	opacity: .65;
	white-space: nowrap;
}

.l3-s1 {
	height: 40px;
	color: black;
	background: white;
	opacity: .9;
	white-space: nowrap;
}		
