/**
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any Css/Less files within this directory, lib/assets/javascripts, vendor/assets/javascripts,
 * can be referenced here using a relative path.
 *
 * It's not advisable to add code directly here, but if you do, it'll appear in whatever order it
 * gets included (e.g. say you have require_tree . then the code will appear after all the directories
 * but before any files alphabetically greater than 'application.css'
 *
 *= require twitter/css/bootstrap
 *= require font-awesome/css/font-awesome
 *= require chosen/chosen
 *= require fonts
 *= require structure
 *= require dashboard
 *= require logo
 *= require_self
 *= depend_on colors.less
 *= depend_on navigation.less
 *= depend_on buttons.less
 *= depend_on alerts.less
 *= depend_on pagination.less
 */

@import "colors.less";
@import "navigation.less";
@import "buttons.less";
@import "alerts.less";
@import "pagination.less";

body {
	background-color: @body-background;
}

a {
	color: @link-color;
	font-size: 14px;
	letter-spacing: 2px;
	font-family: 'Open Sans', sans-serif;
}

a:hover {
	text-decoration: none;
	color: @link-hover-color;
}

.breadcrumb {
	background-color: @breadcrumb-background;
	border-bottom: 1px solid #eee;
}

.push-down {
    margin-top: 20px;
}

.push-down-more {
    margin-top: 40px;
}

.push-down-most {
    margin-top: 60px;
}

i.large-icon {
	font-size: 18px;

}